<div class="login">
  <p-toast/>
  <p-card class="card">
    <form [formGroup]="formLogin" (ngSubmit)="submit()">
      <div class="input-card">
        <label>Login</label>
        <p-iconField iconPosition="right" class="input">
          <p-inputIcon styleClass="pi pi-user"/>
          <input type="text" pInputText placeholder="Login" formControlName="login"/>
        </p-iconField>
        <p-floatLabel class="input">
          <p-password [feedback]="false" [toggleMask]="true" formControlName="password"/>
          <label>Password</label>
        </p-floatLabel>
      </div>
      <div class="footer-bottoms">
        <p-button *ngIf="!loading" label="Login" class="w-full" type="submit"/>
        <p-button *ngIf="!loading" [routerLink]="['/sign-up']" label="Cadastre-se" severity="success" class="w-full"/>
      </div>
      <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '10px'}"/>
    </form>
  </p-card>
</div>
