<p-dialog header="{{ paciente ? 'Editar Paciente' : 'Cadastrar Paciente' }}" [(visible)]="modalVisivel" [modal]="true" [closable]="false" [responsive]="true" [style]="{width: '50vw'}">
  <form [formGroup]="pacienteForm" (ngSubmit)="salvarPaciente()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="nome">Nome</label>
        <input id="nome" type="text" pInputText formControlName="nome" placeholder="Nome"/>
      </div>
      <div class="p-field">
        <label for="cpf">CPF</label>
        <input id="cpf" type="text" pInputText formControlName="cpf" placeholder="CPF"/>
      </div>
      <div class="p-field">
        <label for="telefone">Telefone</label>
        <input id="telefone" type="text" pInputText formControlName="telefone" placeholder="Telefone"/>
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText formControlName="email" placeholder="Email"/>
      </div>
      <div class="p-field">
        <label for="dataNascimento">Data de Nascimento</label>
        <input id="dataNascimento" type="date" pInputText formControlName="dataNascimento" placeholder="Data de Nascimento"/>
      </div>
    </div>

    <div class="p-dialog-footer">
      <p-button label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="fecharModal()"></p-button>
      <p-button label="Salvar" icon="pi pi-check" type="submit" class="p-button-success" [disabled]="pacienteForm.invalid"></p-button>
    </div>
  </form>
</p-dialog>
