:host ::ng-deep .p-toolbar {
  background-color: #3B82F6;
  border-radius: 0;
  padding: 1rem;
  border: none;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
